@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Playfair:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

html {
  scroll-behavior: smooth;
}
